
{{#if notes.length}}
<section>
  <h2>Your notes</h2>
    {{#each notes as |note|}}
      {{> dashboard-noteinfo note}}
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/dashboard/new">+ New note</a></button>

<script src="/public/assets/javascript/add-note.js"></script>