<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=1440, maximum-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
  <meta name="og:type" content="website" />
  <meta name="twitter:card" content="photo" />
  <link rel="stylesheet" type="text/css" href="public/assets/css/css/frame-1.css" />
  <link rel="stylesheet" type="text/css" href="public/assets/css/css/styleguide.css" />
  <link rel="stylesheet" type="text/css" href="public/assets/css/css/globals.css" />
  <meta name="author" content="AnimaApp.com - Design to code, Automated." />
</head>

<body style="margin: 0; background: #171717">
  <div class="StartPage"
    style="width: 1440px; height: 1023px; background-color: rgba(23.33, 23.33, 23.33, 1); position: relative;">
    <div class="FeaturedIN"
      style="width: 162px; height: 55px; left: 141px; top: 914px; position: absolute; display: inline-flex; flex-direction: column; align-items: flex-end; justify-content: flex-end;">
      <p class="ASFEATURED IN"
        style="font-size: 14px; font-weight: 600; letter-spacing: 1px; line-height: 22px; color: rgba(239, 237, 232, 0.65);">
        AS FEATURED IN</p>
      <div style="height: 33px;"/>
      <div class="Group30"
        style="width: 100%; height: 20px; display: inline-flex; flex-direction: row; align-items: center; justify-content: flex-end;">
        <div class="Vector" style="width: 57.14px; height: 20px; background-color: white; border-radius: 8px;" />
        <div style="width: 47.49px;" />
        <div class="Vector" style="width: 120.98px; height: 20px; background-color: white; border-radius: 8px;" />
        <div style="width: 47.49px;" />
        <img class="Group27" style="width: 32.91px; height: 18.81px; border-radius: 8px;"
          src="https://via.placeholder.com/32.90545654296875x18.80572509765625" />
        <div style="width: 47.49px;" />
        <div class="Layer_1"
          style="width: 27.02px; height: 20px; display: inline-flex; flex-direction: column; align-items: center; justify-content: flex-end;">
          <img class="g4356" style="width: 22.82px; height: 13.34px; border-radius: 8px;"
            src="https://via.placeholder.com/22.81689453125x13.34002685546875" />
          <div style="height: 1.83px;" />
          <div class="path4358" style="width: 27.02px; height: 4.83px; background-color: white; border-radius: 8px;" />
        </div>
        <div style="width: 47.49px;" />
        <img class="layer1-3" style="width: 171.05px; height: 20px; border-radius: 8px;"
          src="https://via.placeholder.com/171.04522705078125x20" />
      </div>
    </div>
    <div class="PurpleBox" style="width: 193px; height: 98px; left: 1089px; top: 656px; position: absolute;">
      <div class="Rectangle13"
        style="width: 193px; height: 98px; padding-top: 20px; padding-bottom: 12px; padding-left: 19px; padding-right: 18px; background-color: rgba(200.02, 43.83, 239.06, 1); border-radius: 12px; display: inline-flex; flex-direction: column; align-items: center; justify-content: flex-end;">
        <p class="300+"
          style="font-size: 40px; font-weight: 600; letter-spacing: 1px; line-height: 40px; color: rgba(250, 250, 249, 1);">
          300+</p>
        <div style="height: 6px;" />
        <p class="FreeWorkout Videos"
          style="font-size: 14px; letter-spacing: 1px; line-height: 20px; color: rgba(239, 237, 232, 0.65);">Free
          Workout Videos</p>
      </div>
    </div>
    <div class="BlueBox" style="width: 448px; height: 141px; left: 840px; top: 779px; position: absolute;">
      <div class="Rectangle17"
        style="width: 448px; height: 141px; padding-top: 26px; padding-bottom: 54px; padding-left: 32px; padding-right: 66px; background-color: rgba(48.03, 152.84, 185.94, 1); border-radius: 8px; display: flex; flex-direction: row; align-items: flex-start; justify-content: flex-start;">
        <div class="Group22"
          style="width: 350.42px; height: 60.82px; display: inline-flex; flex-direction: column; align-items: center; justify-content: flex-end;">
          <p class="BEYOUR BEST."
            style="font-size: 24px; font-weight: 600; line-height: 24px; color: rgba(250, 250, 249, 1);">BE YOUR BEST.
          </p>
          <div style="height: 5px;" />
          <p class="MAKEGOALS. CHECK THEM OFF."
            style="width: 350.42px; height: 31.82px; font-size: 16px; letter-spacing: 0.50px; line-height: 24px; color: rgba(239, 237, 232, 0.65);">
            MAKE GOALS. CHECK THEM OFF.</p>
        </div>
      </div>
    </div>
    <div class="GreenBox" style="width: 178.42px; height: 110.72px; left: 641px; top: 809px; position: absolute;">
      <div class="Rectangle15"
        style="width: 178.42px; height: 110.72px; padding-top: 6px; padding-bottom: 55px; padding-left: 38px; padding-right: 13px; background-color: rgba(22.01, 157.25, 0, 1); border-radius: 12px; display: flex; flex-direction: row; align-items: flex-start; justify-content: flex-end;">
        <p class="YOUCAN"
          style="width: 127.87px; height: 50.33px; font-size: 48px; font-weight: 700; line-height: 50px; color: rgba(250, 250, 249, 1); text-transform: uppercase;">
          YOU CAN</p>
      </div>
    </div>
    <div class="WorkOutTrackertitle"
      style="width: 1057px; height: 359px; left: 106px; top: 285px; position: absolute; position: relative;">
      <p class="Makea plan. Stick with it."
        style="width: 560px; left: 38px; top: 335px; position: absolute; font-size: 16px; letter-spacing: 0.50px; line-height: 24px; color: white;">
        Make a plan. Stick with it.</p>
      <div class="workouttracker" style="width: 1057px; height: 335px; left: 0px; top: 0px; position: absolute;">
        <p class="workouttracker"
          style="width: 1057px; height: 335px; font-size: 200px; line-height: 170px; color: rgba(250, 250, 249, 1); text-transform: uppercase;">
          workout tracker</p>
      </div>
      <div class="Ellipse1"
        style="width: 23.79px; height: 24.16px; left: 786.59px; top: 277.65px; position: absolute; background-color: rgba(216.75, 92.38, 45.16, 1); border-radius: 9999px;" />
    </div>
    <div class="running-stick-figure-svgrepo-com1"
      style="width: 383.81px; height: 386.51px; padding-left: 23px; padding-right: 23px; left: 950.39px; top: 156px; position: absolute; background-color: rgba(230, 83, 60, 0); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); display: inline-flex; flex-direction: row; align-items: center; justify-content: center;">
      <img class="Group" style="width: 338.21px; height: 386.51px; border-radius: 8px;"
        src="https://via.placeholder.com/338.21337890625x386.5107421875" />
    </div>
    <div class="LoginButton"
      style="width: 115px; padding-left: 25px; padding-right: 25px; padding-top: 24px; padding-bottom: 24px; left: 346px; top: 676px; position: absolute; background-color: rgba(247.56, 194.71, 58.80, 1); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; display: inline-flex; flex-direction: row; align-items: flex-start; justify-content: flex-start;">
      <p class="login" style="font-size: 18px; font-weight: 600; letter-spacing: 1px; line-height: 22px; color: white;">
        LOGIN</p>
    </div>
    <div class="WORKOUTTRACKER" style="width: 164px; height: 19px; left: 92px; top: 58px; position: absolute;">
      <p class="WORKOUTTRACKER"
        style="font-size: 16px; font-weight: 700; line-height: 100%; color: rgba(250, 250, 249, 1);">WORKOUT TRACKER</p>
    </div>
    <div class="WORKOUTS" style="width: 69px; height: 15px; left: 837px; top: 60px; position: absolute;">
      <p class="WORKOUTS" style="font-size: 12px; line-height: 100%; color: rgba(250, 250, 249, 1);">WORKOUTS</p>
    </div>
    <img class="PROGRAMS"
      style="width: 68px; height: 15px; left: 983px; top: 52px; position: absolute; border-radius: 8px;"
      src="https://via.placeholder.com/68x15" />
    <div class="PROGRAMS" style="width: 68px; height: 15px; left: 935px; top: 60px; position: absolute;">
      <p class="PROGRAMS" style="font-size: 12px; line-height: 100%; color: rgba(250, 250, 249, 1);">PROGRAMS</p>
    </div>
    <div class="HEALTHYLIVING" style="width: 97px; height: 15px; left: 1061px; top: 60px; position: absolute;">
      <p class="HEALTHYLIVING" style="font-size: 12px; line-height: 100%; color: rgba(250, 250, 249, 1);">HEALTHY LIVING
      </p>
    </div>
    <div class="CONTACT" style="width: 58px; height: 15px; left: 1182px; top: 60px; position: absolute;">
      <p class="CONTACT" style="font-size: 12px; line-height: 100%; color: rgba(250, 250, 249, 1);">CONTACT</p>
    </div>
    <div class="ABOUT" style="width: 42px; height: 15px; left: 1264px; top: 60px; position: absolute;">
      <p class="ABOUT" style="font-size: 12px; line-height: 100%; color: rgba(250, 250, 249, 1);">ABOUT</p>
    </div>
    <div class="JoinNow Button"
      style="left: 179px; top: 676px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
      <div class="Button"
        style="padding-left: 25px; padding-right: 25px; padding-top: 24px; padding-bottom: 24px; background-color: rgba(230, 83, 60, 1); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; display: flex; flex-direction: row; align-items: flex-start; justify-content: flex-start;">
        <p class="JoinNow!"
          style="font-size: 18px; font-weight: 600; letter-spacing: 1px; line-height: 22px; color: white;">Join Now!</p>
      </div>
    </div>
  </div>
</body>

</html>