<div class="navigation">
    {{!-- logo --}}
    <div class="logo">
        <a href="/"><img class="workout-tracker smart-layers-pointers" src="img/workout-tracker@1x.png" />
        </a>
    </div>

    <ul class="navbar">
        <li><a href="/login">LOGIN</a></li>
        {{!-- {{#if session.loggedIn}} <li><a href="/logout">LOGOUT</a></li> {{/if}} --}}
        <li><a href="/logout">LOGOUT</a></li>
        <li><a href="/signup">SIGNUP</a></li>
        <li><a href="/dashboard">DASHBOARD</a></li>
        <li><a href="/programs">PROGRAMS</a></li>
        <li><a href="/contact">CONTACT</a></li>
    </ul>

</div>