<div class="card">
    <h3 class="card-header">Create New Note</h3>
    <form class="card-body new-note-form" id="new-note-form">
        <label for="note-title" class="form-label">Title</label>
        <input type="text" id="note-title" name="note-title" class="form-input" />


        <label class="form-label" for="content">Content</label>
        <input id="content" name="content" class="form-input" />

        <button type="submit" class="btn">Create</button>
    </form>
</div>

<script src="/public/assets/javascript/add-note.js"></script>