<link rel="stylesheet" type="text/css" href="css/notespage.css" />
     <link rel="stylesheet" type="text/css" href="css/mainstyle.css" />
  <body style="margin: 0; background: #171717">
    <input type="hidden" id="anPageName" name="page" value="notespage" />
    <div class="container-center-horizontal">
      <form class="notespage screen" name="form19" action="form19" method="post">
        <a href="javascript:SubmitForm('form19')"
          ><img class="workout-tracker smart-layers-pointers" src="img/workout-tracker@1x.png" />
        </a>
        <div class="navbar">
          <div class="overlap-group1">
            <a href="javascript:SubmitForm('form19')"
              ><img class="workouts smart-layers-pointers" src="img/workouts@1x.png" /> </a
            ><img class="programs" src="img/programs@1x.png" />
            <a href="javascript:SubmitForm('form19')"
              ><img class="programs-1 smart-layers-pointers" src="img/programs-1@1x.png" /> </a
            ><a href="javascript:SubmitForm('form19')"
              ><img class="about smart-layers-pointers" src="img/about@1x.png" />
            </a>
          </div>
          <a href="javascript:SubmitForm('form19')"
            ><img class="contact smart-layers-pointers" src="img/contact@1x.png" />
          </a>
          <div class="overlap-group">
            <a href="javascript:SubmitForm('form19')"
              ><img class="healthy-living smart-layers-pointers" src="img/healthy-living@1x.png" /> </a
            ><a href="javascript:SubmitForm('form19')"
              ><img class="workouts-1 smart-layers-pointers" src="img/workouts-1@1x.png" />
            </a>
          </div>
        </div>
        <img class="work-out-tracker-title" src="img/workouttracker-title-1@1x.png" />
        <div class="flex-row">
          <div class="flex-col">
            <textarea class="frame-7" name="246_3595" placeholder="Frame 7" type="text"></textarea>
            <div class="flex-row-1">
              <a href="javascript:SubmitForm('form19')"
                ><img class="login-button smart-layers-pointers" src="img/login-button-2@1x.png" /> </a
              ><a href="javascript:SubmitForm('form19')"
                ><img class="x-button smart-layers-pointers" src="img/login-button-1@1x.png" /> </a
              ><a href="javascript:SubmitForm('form19')"
                ><img class="x-button smart-layers-pointers" src="img/deletebutton@1x.png" />
              </a>
            </div>
            <img class="featured-in" src="img/featuredin-7@1x.png" />
          </div>
          <div class="frame-8"></div>
        </div>
      </form>
    </div>
    <script>
      /* Copyright (c) 2016 Tobias Buschor https://goo.gl/gl0mbf | MIT License https://goo.gl/HgajeK */

       if (!HTMLFormElement.prototype.reportValidity) {
         HTMLFormElement.prototype.reportValidity = function () {
           if (this.checkValidity()) return true;
           var btn = document.createElement("button");
           this.appendChild(btn);
           btn.click();
           this.removeChild(btn);
           return false;
         };
       }

       function SubmitForm(form_name) {
         var form = document.getElementsByName(form_name)[0];
         if (form.reportValidity()) {
           form.submit();
           if (window.submitted) window.submitted();
         }
       }
    </script>
  </body>
</html>
