<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1649, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/readytologoutquestion.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #171717">
    <input type="hidden" id="anPageName" name="page" value="readytologoutquestion" />
    <div class="container-center-horizontal">
      <form class="readytologoutquestion screen" name="form44" action="form44" method="post">
        <div class="flex-row">
          <a href="javascript:SubmitForm('form44')"
            ><img class="workout-tracker smart-layers-pointers" src="img/workout-tracker@1x.png" />
          </a>
          <div class="navbar">
            <div class="overlap-group1">
              <a href="javascript:SubmitForm('form44')"
                ><img class="workouts smart-layers-pointers" src="img/workouts@1x.png" /> </a
              ><img class="programs" src="img/programs@1x.png" />
              <a href="javascript:SubmitForm('form44')"
                ><img class="programs-1 smart-layers-pointers" src="img/programs-1@1x.png" /> </a
              ><a href="javascript:SubmitForm('form44')"
                ><img class="about smart-layers-pointers" src="img/about@1x.png" />
              </a>
            </div>
            <a href="javascript:SubmitForm('form44')"
              ><img class="contact smart-layers-pointers" src="img/contact@1x.png" />
            </a>
            <div class="overlap-group">
              <a href="javascript:SubmitForm('form44')"
                ><img class="healthy-living smart-layers-pointers" src="img/healthy-living@1x.png" /> </a
              ><a href="javascript:SubmitForm('form44')"
                ><img class="workouts-1 smart-layers-pointers" src="img/workouts-1@1x.png" />
              </a>
            </div>
          </div>
        </div>
        <div class="overlap-group2">
          <img class="work-out-tracker-title" src="img/workouttracker-title-7@1x.png" />
          <img class="running-stick-f-e-svgrepo-com-1" src="img/running-stick-figure-svgrepo-com-1@1x.png" />
        </div>
        <div class="frame-3"><div class="ready-to-logout valign-text-middle">Ready to Logout?</div></div>
        <div class="flex-row-1">
          <a href="javascript:SubmitForm('form44')"
            ><img class="login-button smart-layers-pointers" src="img/login-button-4@1x.png" /> </a
          ><a href="javascript:SubmitForm('form44')"
            ><img class="login-button-1 smart-layers-pointers" src="img/login-button-3@1x.png" />
          </a>
        </div>
        <img class="featured-in" src="img/featuredin-6@1x.png" />
      </form>
    </div>
    <script>
      /* Copyright (c) 2016 Tobias Buschor https://goo.gl/gl0mbf | MIT License https://goo.gl/HgajeK */

       if (!HTMLFormElement.prototype.reportValidity) {
         HTMLFormElement.prototype.reportValidity = function () {
           if (this.checkValidity()) return true;
           var btn = document.createElement("button");
           this.appendChild(btn);
           btn.click();
           this.removeChild(btn);
           return false;
         };
       }

       function SubmitForm(form_name) {
         var form = document.getElementsByName(form_name)[0];
         if (form.reportValidity()) {
           form.submit();
           if (window.submitted) window.submitted();
         }
       }
    </script>
  </body>
</html>
