
    <link rel="stylesheet" type="text/css" href="css/startpage.css" />
   
  </head>
  <body style="margin: 0; background: #171717">
    <input type="hidden" id="anPageName" name="page" value="startpage" />
    <div class="container-center-horizontal">
      <form class="startpage screen" name="form9" action="form9" method="post">
        <div class="flex-row">
          <a href="javascript:SubmitForm('form9')"
            ><img class="workout-tracker smart-layers-pointers" src="img/workout-tracker@1x.png" />
          </a>
          <div class="navbar">
            <div class="overlap-group">
              <a href="javascript:SubmitForm('form9')"
                ><img class="workouts smart-layers-pointers" src="img/workouts@1x.png" /> </a
              ><img class="programs" src="img/programs@1x.png" />
              <a href="javascript:SubmitForm('form9')"
                ><img class="programs-1 smart-layers-pointers" src="img/programs-1@1x.png" /> </a
              ><a href="javascript:SubmitForm('form9')"
                ><img class="about smart-layers-pointers" src="img/about@1x.png" />
              </a>
            </div>
            <a href="javascript:SubmitForm('form9')"
              ><img class="contact smart-layers-pointers" src="img/contact@1x.png" />
            </a>
            <div class="overlap-group1">
              <a href="javascript:SubmitForm('form9')"
                ><img class="healthy-living smart-layers-pointers" src="img/healthy-living@1x.png" /> </a
              ><a href="javascript:SubmitForm('form9')"
                ><img class="workouts-1 smart-layers-pointers" src="img/workouts-1@1x.png" />
              </a>
            </div>
          </div>
        </div>
        <div class="overlap-group2">
          <img class="work-out-tracker-title animate-enter" src="img/workouttracker-title@1x.png" />
          <img class="running-stick-f-e-svgrepo-com-1" src="img/running-stick-figure-svgrepo-com-1@1x.png" />
        </div>
        <div class="flex-row-1">
          <a href="javascript:SubmitForm('form9')"
            ><img class="join-now-button smart-layers-pointers" src="img/join-now-button-2@1x.png" /> </a
          ><a href="javascript:SubmitForm('form9')"
            ><img class="login-button smart-layers-pointers" src="img/login-button-5@1x.png" /> </a
          ><img class="purple-box" src="img/purple-box@1x.png" />
        </div>
        <div class="flex-row-2">
          <img class="featured-in smart-layers-pointers" src="img/featuredin@1x.png" />
          <img class="green-box" src="img/green-box@1x.png" />
          <img class="blue-box" src="img/blue-box@1x.png" />
        </div>
      </form>
    </div>
    <script>
      function ShowOnScroll() {
        this.toShow = [];
        this.nextEventY = undefined;
      }

      ShowOnScroll.prototype.show = function (e) {
        e.style.display = "";
      };

      ShowOnScroll.prototype.hide = function (e) {
        e.style.display = "none";
      };

      ShowOnScroll.prototype.getTop = function (e) {
        if (e.Top != undefined && e.Top != 0) {
          return e.Top;
        }
        var top = 0;
        var iter = e;
        do {
          top += iter.offsetTop || 0;
          iter = iter.offsetParent;
        } while (iter);
        e.Top = top;
        return top;
      };

      ShowOnScroll.prototype.onScroll = function () {
        var screenBottom = window.pageYOffset + window.innerHeight;
        if (this.nextEventY == undefined || this.nextEventY > screenBottom) {
          return;
        }
        this.nextEventY = undefined;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            this.show(e);
            this.toShow.shift();
            i--;
          } else {
            this.nextEventY = top;
            break;
          }
        }
      };

      ShowOnScroll.prototype.resetScrolling = function () {
        // Clear state
        var screenBottom = window.pageYOffset + window.innerHeight;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          this.show(e);
        }
        this.toShow = [];
        this.nextEventY == undefined;

        // Collect items
        var itemsToShowOnScroll = Array.prototype.slice.call(document.getElementsByTagName("*"));
        itemsToShowOnScroll = itemsToShowOnScroll.filter(function (e) {
          return e.getAttribute("show-on-scroll") != undefined;
        });
        var getTop = this.getTop;
        itemsToShowOnScroll.sort(function (a, b) {
          return getTop(a) - getTop(b);
        });
        for (var i = 0; i < itemsToShowOnScroll.length; i++) {
          var e = itemsToShowOnScroll[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            continue;
          }
          this.toShow.push(e);
          this.hide(e);
          this.nextEventY = this.nextEventY != undefined ? this.nextEventY : top;
        }
      };

      ShowOnScroll.prototype.handleEvent = function (e) {
        switch (e.type) {
          case "scroll":
            this.onScroll();
            break;
          case "resize":
            this.resetScrolling();
            break;
        }
      };

      ShowOnScroll.prototype.init = function () {
        this.resetScrolling();
        window.addEventListener("scroll", this);
        window.addEventListener("resize", this);
      };

      // After anima-src
      setTimeout(function () {
        var instShowOnScroll = new ShowOnScroll();
        instShowOnScroll.init();
      }, 250);
    </script>
    <script>
      /* Copyright (c) 2016 Tobias Buschor https://goo.gl/gl0mbf | MIT License https://goo.gl/HgajeK */

      if (!HTMLFormElement.prototype.reportValidity) {
        HTMLFormElement.prototype.reportValidity = function () {
          if (this.checkValidity()) return true;
          var btn = document.createElement("button");
          this.appendChild(btn);
          btn.click();
          this.removeChild(btn);
          return false;
        };
      }

      function SubmitForm(form_name) {
        var form = document.getElementsByName(form_name)[0];
        if (form.reportValidity()) {
          form.submit();
          if (window.submitted) window.submitted();
        }
      }
    </script>
  </body>
</html>
