<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=1649, maximum-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
  <meta name="og:type" content="website" />
  <meta name="twitter:card" content="photo" />
  <link rel="stylesheet" type="text/css" href="/css/globals.css" />
  <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  <title>Workout Tracker</title>
</head>

<body>
  <div class="wrapper">

    <main>

      {{{ body }}}

    </main>

  </div>

  

  <script src="/javascript/logout.js"></script>
 

</body>

</html>