<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1649, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
    <title>Workout Tracker</title>
  </head>

<body>
  <div class="wrapper">
      {{!-- <header class="hero">
          <div>
            <nav class"nav">
                    <a class="link" href="/"><button> Home </button></a>
                    <a class="link" href="/dashboard"><button> Notes Dashboard</button></a>
                    <a href="/logout"><button type="submit" id="logout">Logout</button></a>
                    {{#if loggedIn}}
                    <a class="link" href="/" id="logout">Logout</a>
                    {{/if}}
                </nav>          
          </div>

          <h1 class="app-title"><i class="fab "></i>Workout Tracker</h1>
      </header> --}}

    <main>
      

      {{{ body }}}

     
    </main>



  </div>
 
    {{#if loggedIn}}
   
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>