
{{#if note.length}}
<section>
  <h2>Your Notes</h2>
    {{#each note as |note|}}
      {{> dashboard-noteinfo note}}
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/dashboard/new">+ New Note</a></button>

<script src="/javascript/add-note.js"></script>