<div class="container-center-horizontal">
  <div>

    {{> navigation}}

    <h1>Good Bye...for now!</h1>

    {{> stickman}}

    <div class="button-row">
     
      <a class="yellow button" href="/api/login">login</a>
    </div>
    
  </div>
</div>

{{> footer}}