
 

  <input type="hidden" id="anPageName" name="page" value="frame-1" />
  <div class="container-center-horizontal">
    <div class="frame-1 screen" style="background-color: black;">
      <img class="section-1-VxPVnb" src="/assets/img/section-1@1x.png" />
      <div class="group-76-VxPVnb">
        <div class="rectangle-13-PCxQga"></div>
        <h1 class="title-PCxQga">300+</h1>
        <div class="free-workout-videos-PCxQga">Free Workout Videos</div>
      </div>
      <div class="nav-VxPVnb">
        <div class="workouts-AUytTx inter-normal-alabaster-12px">WORKOUTS</div>
        <div class="workout-AUytTx">WORKOUT</div>
        <div class="programs-AUytTx inter-normal-alabaster-12px">PROGRAMS</div>
        <div class="healthy-living-AUytTx inter-normal-alabaster-12px">HEALTHY LIVING</div>
        <div class="contact-AUytTx inter-normal-alabaster-12px">CONTACT</div>
        <div class="about-AUytTx inter-normal-alabaster-12px">ABOUT</div>
      </div>
      <div class="button-VxPVnb">
        <div class="join-now-i208402203164-qJElCW">LOGIN</div>
        <div class="join-now-i208402203164-qJElCW"><a href="/api/users/signup"> Signup</a></div>
      </div> 
    </div>
  </div> 
