<link rel="stylesheet" type="text/css" href="css/loginpage.css" />


  
  <div class="container-center-horizontal">
    <form class=" screen" >

      {{> navigation}}

      {{> stickman}}

      <div class="flex-row-1">
        <div class="flex-col" >
          <div class="flex-row-2">
            <img class="purple-box" src="img/purple-box-1@1x.png" />
            <input class="frame"></input>
          </div>
          <div class="flex-row-3">
            <img class="green-box" src="img/passwordgreenbox@1x.png" />
            <input class="frame"></input>
          </div>
        </div>

      
  

        <a href="javascript:SubmitForm('form73')"><img class="login-button smart-layers-pointers"
            src="img/login-button-5@1x.png" />
        </a>


      </div>

       {{> footer}}
     
    </form>
    
  </div>

