<div class="container-center-horizontal">
  <form class="screen">

    {{> navigation}}

    {{> stickman}}

    <form class="login">

      <div class="grid">
        <div class="col-1">
          <label class="label">Email</label>
          <input class="input" type="email" id="email-login" placeholder="Email">
          <label class="label">Password</label>
          <input class="input" type="password" id="password-login" placeholder="Password">
        </div>
        <div class="col-2">
          <button class="yellow button" type="submit">
            Login
          </button>
        </div>
      </div>

    </form>

</div>
{{> footer}}

</form>
<script src="/javascript/login.js"></script>
