<div class="container-center-horizontal">
  <form class="screen">

    {{> navigation}}

<h1>Welcome to the workout tracker dashboard: {{user.username}}</h1>

    <form class="comment-form">

      <div class="grid" id="note-taker">
        <div class="col-1">
          <h2>Saved workouts <span> (click to view)</span></h2>
          <ul class="post-list">
            <li><a href="#"> Ipsum Dolor Amet Work Outus A Muchas</a></li>
            <li><a href="#"> Ipsum Dolor Amet Work Outus A Muchas</a></li>
            <li><a href="#"> Ipsum Dolor Amet Work Outus A Muchas</a></li>
            <li><a href="#"> Ipsum Dolor Amet Work Outus A Muchas</a></li>
            <li><a href="#"> Ipsum Dolor Amet Work Outus A Muchas</a></li>
            <li><a href="#"> Ipsum Dolor Amet Work Outus A Muchas</a></li>
            <li><a href="#"> Ipsum Dolor Amet Work Outus A Muchas</a></li>
          </ul>

        </div>

        <div class="col-2">
          <p>
            <label class="label">Title</label>
            <input class="input" type="text" id="title" placeholder="Workout Title...">
          </p>
          <p>
            <label class="label">Post</label>
            <textarea  id="comment_text" placeholder="Workout Description..." ></textarea>
          </p>
          <button class="teal button" id="save" type="submit">
            Save
          </button>
          <button class="orange button" id="update" type="submit">
            Update
          </button>
          <button class="red button" id="delete" type="submit">
            Delete
          </button>

        </div>

      </div>

    </form>


    {{> footer}}
  </form>
</div>