<div class="container-center-horizontal">
  <div>

    {{> navigation}}

    {{> stickman}}

    <div class="button-row">
      <a class="orange button" href="/signup">Join Now!</a>
      <a class="yellow button" href="/login">login</a>
    </div>
    
  </div>
</div>

{{> footer}}