<div class="container-center-horizontal">

    {{> navigation}}

    {{> stickman}}

    <div class="button-row">
      <a class="orange button" href="/api/signup">Join Now!</a>
      <a class="yellow button" href="/api/login">login</a>
    </div>
    
</div>

{{> footer}}