     <link rel="stylesheet" type="text/css" href="css/mainstyle.css" />
<body>
    <main>
        <h1>Workout</h1>
        <button id="join"><a href="/login">Join Now</a></button>
    </main>
</body>
</html>