@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

@import url('https://fonts.googleapis.com/css?family=Poppins:600');

* {
    background-color: black;
}

body {
    background-color: black;
    font-family: 'Poppins', 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
    display: flex;
}

main {
    margin: 10px auto;
}

/* navigation.handlebars */
.navigation {
    display: flex;
    /* justify-content: space-between; */
    margin: 10mm;
}

.navigation .navbar {
    display: inline-flex;
}

.navigation .navbar li a {
    text-decoration: none;
    display: block;
    padding: 5px 10px;

    color: rgb(206, 206, 206);
    font-weight: 100;
    font-size: 14px;
}

.navigation .navbar li a:hover {
    color: white;
}

/* stickman */
.stickman {
    margin: 40px 0 40px;
}

.stickman-image {
	max-width: 100vw;
}

.button-row {
    margin: 0 0 40px 0;
}

/* buttons */
.button {
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    padding: 15px 22px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}

.orange {
    background-color: #e6533c;
    color: #fff;
}

.yellow {
    background-color: #f8c33b;
    color: #fff;
}

.teal {
    background-color: rgb(19, 222, 230);
    color: #fff;
}

.red {
    background-color: #c5132b;
    color: #fff;
}

/* forms */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*='col-'] {
    float: left;
}

.col-1 {
    width: 35%;
}

.col-2 {
    /* nothing here to declare note that changing the text in the join button will break the layout for some reason */
}

/* login page button */
.col-2 button {
    margin: 25px 0 0;
}

/* signup page button */
.col-2 .signup-button {
    margin: 55px 0 0;
}

.col-1 label {
    color: #fff;
    text-align: right;
    font-size: 22px;
    font-weight: bold;
    margin: 8px 8px 0 0;
    display: inline-block;
    width: 32%;
}

.input {
    border: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 4px;
}

input ::placeholder {
    color: red;
}

.grid:after {
    content: '';
    display: table;
    clear: both;
}

/* dashboard */
h1 {
    border-bottom: solid 1px rgb(109, 109, 109);
    color: #fff;
    font-size: 20px;
    margin: 33px 0 0 0;
    padding: 0 0 6px 0;
}

h1 span {
    font-style: italic;
    color: rgb(143, 143, 143);
    letter-spacing: 4px;
    text-transform: capitalize;
    font-size: 22px;
}

#note-taker {
    width: 100%;
    margin: 60px 0 0 0;

}

#note-taker .col-1 {
    width: 48%;
}

#note-taker .col-2 {
    width: 48%;
}

#note-taker label {
    padding: 0 0 0 6px;
    color: #fff;
}

#note-taker input {
    width: 620px;
}

#note-taker textarea {
    width: 620px;
    height: 250px;
    border: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 4px;
}

#note-taker button {
    margin: 0 20px 0 0;
}

#note-taker h2 {
    color: rgb(231, 231, 231);
    font-size: 22px;
    margin: 0 0 20px 0;
}

#note-taker ul li {
    color: rgb(168, 168, 168);
    display: block;
    padding: 8px;
    margin: 3px 0;
    text-decoration: none;
    border: solid 1px rgb(75, 75, 75);
    border-radius: 6px;
    width: 85%;
    letter-spacing: 0.5px;
}

#note-taker ul li:hover {
    color: #fff;
    border: solid 1px rgb(121, 121, 121);
}

/* placeholder text  */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font-family: 'Arial', Helvetica, sans-serif;
}

input:-ms-input-placeholder,
textarea::-webkit-input-placeholder {
    font-family: 'Arial', Helvetica, sans-serif;
}

input:-moz-placeholder,
textarea::-webkit-input-placeholder {
    font-family: 'Arial', Helvetica, sans-serif;
}

input::-moz-placeholder,
textarea::-webkit-input-placeholder {
    font-family: 'Arial', Helvetica, sans-serif;
}

.screen {
    width: 100%;
}

.container-center-horizontal {
    width: 1280px;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input:focus {
    outline: none;
}

.smart-layers-pointers,
.smart-layers-pointers * {
    pointer-events: auto;
    visibility: visible;
}

* {
    box-sizing: border-box;
}

/* footer */
.footer {
    margin-top: 30px;
    border-top: solid 1px rgb(109, 109, 109);
    padding: 8px;
    width: 100%;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media all and (max-width: 100%) {
    .navigation {
        max-width: 90%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media all and (max-width: 90%) {
    .navigation {
        max-width: 80%;
    } 
}


/* Medium devices (landscape tablets, 768px and up) */
@media all and (max-width: 80%) {
    .navigation {
        max-width: 72%;

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media all and (max-width: 70%) {
    .navigation{
        max-width: 65%;
    }
}


/* @include media-breakpoint-down(sm) { */
@media all and (max-width: 60%) {
    .navigation {
        max-width: 50%;
    
    }
}
