/* screen - loginpage */

.loginpage {
  align-items: center;
  
  display: flex;
  flex-direction: column;
  /* height: 1023px; */
  padding: 59px 34px;
  width: 1649px;
}

.loginpage .flex-row {
  align-items: flex-start;
  display: flex;
  height: 29px;
  margin-left: 11.0px;
  min-width: 1252px;
}

.loginpage .workout-tracker {
  cursor: pointer;
  height: 19px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 164px;
}

.loginpage .workout-tracker:hover {
  transform: scale(1.1);
}

.loginpage .navbar {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  height: 23px;
  margin-left: 695px;
  min-width: 393px;
}

.loginpage .overlap-group {
  align-self: flex-start;
  height: 22px;
  position: relative;
  width: 170px;
}

.loginpage .workouts {
  cursor: pointer;
  height: 15px;
  left: 0;
  pointer-events: auto;
  position: absolute;
  top: 7px;
  transition: all 0.2s ease;
  width: 69px;
}

.loginpage .workouts:hover {
  transform: scale(1.1);
}

.loginpage .programs {
  height: 15px;
  left: 85px;
  position: absolute;
  top: 0;
  width: 68px;
}

.loginpage .programs-1 {
  cursor: pointer;
  height: 15px;
  left: 60px;
  pointer-events: auto;
  position: absolute;
  top: 7px;
  transition: all 0.2s ease;
  width: 68px;
}

.loginpage .programs-1:hover {
  transform: scale(1.1);
}

.loginpage .about {
  cursor: pointer;
  height: 15px;
  left: 128px;
  pointer-events: auto;
  position: absolute;
  top: 7px;
  transition: all 0.2s ease;
  width: 42px;
}

.loginpage .about:hover {
  transform: scale(1.1);
}

.loginpage .contact {
  cursor: pointer;
  height: 15px;
  margin-left: 28px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 58px;
}

.loginpage .contact:hover {
  transform: scale(1.1);
}

.loginpage .overlap-group1 {
  height: 15px;
  margin-bottom: 1px;
  margin-left: 14px;
  position: relative;
  width: 123px;
}

.loginpage .healthy-living {
  cursor: pointer;
  height: 15px;
  left: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 97px;
}

.loginpage .healthy-living:hover {
  transform: scale(1.1);
}

.loginpage .workouts-1 {
  cursor: pointer;
  height: 15px;
  left: 54px;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 69px;
}

.loginpage .workouts-1:hover {
  transform: scale(1.1);
}




.loginpage .flex-row-1 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  height: 314px;
  margin-top: 21px;
  min-width: 1360px;
}

.loginpage .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  /* min-height: 314px; */
  /* width: 1129px; */
}

.loginpage .flex-row-2 {
  align-items: flex-start;
  display: flex;
  min-width: 930px;
}

.loginpage .purple-box {
  height: 98px;
  width: 303px;
}

.loginpage .frame {
  background-color: var(--white);
  height: 89px;
  margin-left: 21px;
  width: 606px;
}

.loginpage .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 95px;
  margin-top: 12px;
  min-width: 930px;
}

.loginpage .green-box {
  align-self: flex-end;
  height: 89px;
  width: 303px;
}

.loginpage .featured-in {
  align-self: flex-start;
  height: 75px;
  margin-top: 34px;
  width: 600px;
}

.loginpage .login-button {
  cursor: pointer;
  height: 78px;
  margin-bottom: 110.0px;
  margin-left: 108px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 123px;
}

.loginpage .login-button:hover {
  transform: scale(1.1);
}
