/* screen - loginpage */

.loginpage {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1023px;
  padding: 58px 34px;
  width: 1649px;
}

.loginpage .flex-row {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-left: 27.0px;
  min-width: 1268px;
}

.loginpage .workout-tracker {
  align-self: flex-end;
  cursor: pointer;
  height: 19px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 164px;
}

.loginpage .workout-tracker:hover {
  transform: scale(1.1);
}

.loginpage .navbar {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin-left: 709px;
  min-width: 395px;
}

.loginpage .overlap-group1 {
  height: 15px;
  position: relative;
  width: 130px;
}

.loginpage .home-section-nav-bar {
  cursor: pointer;
  height: 15px;
  left: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 69px;
}

.loginpage .home-section-nav-bar:hover {
  transform: scale(1.1);
}

.loginpage .notes-section-nav-bar {
  cursor: pointer;
  height: 15px;
  left: 62px;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.15s ease;
  width: 68px;
}

.loginpage .notes-section-nav-bar:hover {
  transform: scale(1.1);
}

.loginpage .about-section-nav-bar {
  cursor: pointer;
  height: 15px;
  pointer-events: auto;
  transition: all 0.15s ease;
  width: 42px;
}

.loginpage .about-section-nav-bar:hover {
  transform: scale(1.1);
}

.loginpage .contact-section-nav-bar {
  align-self: flex-end;
  cursor: pointer;
  height: 15px;
  margin-left: 28px;
  pointer-events: auto;
  transition: all 0.15s ease;
  width: 58px;
}

.loginpage .contact-section-nav-bar:hover {
  transform: scale(1.1);
}

.loginpage .overlap-group {
  height: 15px;
  margin-left: 14px;
  position: relative;
  width: 123px;
}

.loginpage .login-section-nav-bar {
  cursor: pointer;
  height: 15px;
  left: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 97px;
}

.loginpage .login-section-nav-bar:hover {
  transform: scale(1.1);
}

.loginpage .logout-section-nav-bar {
  cursor: pointer;
  height: 15px;
  left: 54px;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 69px;
}

.loginpage .logout-section-nav-bar:hover {
  transform: scale(1.1);
}

.loginpage .overlap-group2 {
  height: 399px;
  margin-left: 21.91px;
  margin-top: 86px;
  position: relative;
  width: 1203px;
}

.loginpage .work-out-tracker-title {
  height: 359px;
  left: 0;
  position: absolute;
  top: 40px;
  width: 1057px;
}

.loginpage .running-stick-f-e-svgrepo-com-1 {
  height: 395px;
  left: 819px;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  width: 384px;
}

.loginpage .flex-row-1 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 377px;
  margin-top: 40px;
  min-width: 1343px;
}

.loginpage .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 377px;
  width: 1134px;
}

.loginpage .overlap-group3 {
  height: 89px;
  position: relative;
  width: 867px;
}

.loginpage .email-text-input {
  background-color: var(--white);
  border-radius: 20px;
  height: 89px;
  left: 261px;
  position: absolute;
  top: 0;
  width: 606px;
}

.loginpage .email-purple-box {
  height: 87px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 303px;
}

.loginpage .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 104px;
  margin-top: 21px;
  min-width: 921px;
}

.loginpage .password-green-box {
  align-self: flex-end;
  height: 83px;
  width: 303px;
}

.loginpage .password-text-input {
  background-color: var(--white);
  border-radius: 20px;
  height: 89px;
  margin-left: 12px;
  width: 606px;
}

.loginpage .footer {
  align-self: flex-start;
  height: 75px;
  margin-top: 88px;
  width: 600px;
}

.loginpage .login-button {
  cursor: pointer;
  height: 78px;
  margin-left: 38px;
  margin-top: 64px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 171px;
}

.loginpage .login-button:hover {
  transform: scale(1.1);
}
