/* screen - logoutpageseeyousoon */

.logoutpageseeyousoon {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1028px;
  overflow: hidden;
  padding: 60px 0;
  width: 1628px;
}

.logoutpageseeyousoon .flex-row {
  align-items: center;
  display: flex;
  margin-left: 21.0px;
  min-width: 1267px;
}

.logoutpageseeyousoon .workout-tracker {
  cursor: pointer;
  height: 19px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 164px;
}

.logoutpageseeyousoon .workout-tracker:hover {
  transform: scale(1.1);
}

.logoutpageseeyousoon .navbar {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin-bottom: 1.0px;
  margin-left: 711px;
  min-width: 392px;
}

.logoutpageseeyousoon .overlap-group {
  height: 15px;
  position: relative;
  width: 170px;
}

.logoutpageseeyousoon .home-section-nav-bar {
  cursor: pointer;
  height: 15px;
  left: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 69px;
}

.logoutpageseeyousoon .home-section-nav-bar:hover {
  transform: scale(1.1);
}

.logoutpageseeyousoon .notes-section-nav-bar {
  cursor: pointer;
  height: 15px;
  left: 62px;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.15s ease;
  width: 68px;
}

.logoutpageseeyousoon .notes-section-nav-bar:hover {
  transform: scale(1.1);
}

.logoutpageseeyousoon .about-section-nav-bar {
  cursor: pointer;
  height: 15px;
  left: 128px;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.15s ease;
  width: 42px;
}

.logoutpageseeyousoon .about-section-nav-bar:hover {
  transform: scale(1.1);
}

.logoutpageseeyousoon .contact-section-nav-bar {
  align-self: flex-end;
  cursor: pointer;
  height: 15px;
  margin-left: 29px;
  pointer-events: auto;
  transition: all 0.15s ease;
  width: 58px;
}

.logoutpageseeyousoon .contact-section-nav-bar:hover {
  transform: scale(1.1);
}

.logoutpageseeyousoon .overlap-group1 {
  height: 15px;
  margin-left: 12px;
  position: relative;
  width: 123px;
}

.logoutpageseeyousoon .login-section-nav-bar {
  cursor: pointer;
  height: 15px;
  left: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 97px;
}

.logoutpageseeyousoon .login-section-nav-bar:hover {
  transform: scale(1.1);
}

.logoutpageseeyousoon .logout-section-nav-bar {
  cursor: pointer;
  height: 15px;
  left: 54px;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 69px;
}

.logoutpageseeyousoon .logout-section-nav-bar:hover {
  transform: scale(1.1);
}

.logoutpageseeyousoon .overlap-group2 {
  height: 400px;
  margin-right: 62.09px;
  margin-top: 43px;
  position: relative;
  width: 1200px;
}

.logoutpageseeyousoon .work-out-tracker-title {
  height: 367px;
  left: 0;
  position: absolute;
  top: 33px;
  width: 1052px;
}

.logoutpageseeyousoon .running-stick-f-e-svgrepo-com-1 {
  height: 395px;
  left: 816px;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  width: 384px;
}

.logoutpageseeyousoon .see-you-soon {
  align-items: center;
  background-color: #ffffff82;
  border-radius: 20px;
  display: flex;
  height: 166px;
  justify-content: center;
  margin-left: 71.0px;
  margin-top: 115px;
  overflow: hidden;
  width: 1007px;
}

.logoutpageseeyousoon .title {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxxl);
  font-weight: 600;
  height: 51px;
  letter-spacing: 1.00px;
  line-height: 22px;
  margin-left: 1.5px;
  margin-top: -10px;
  width: 578px;
}

.logoutpageseeyousoon .featured-in {
  align-self: flex-start;
  height: 75px;
  margin-left: -54px;
  margin-top: 103px;
  width: 600px;
}
