/* screen - readytologoutquestion */

.readytologoutquestion {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1028px;
  overflow: hidden;
  padding: 57px 0;
  width: 1657px;
}

.readytologoutquestion .flex-row {
  align-items: flex-end;
  display: flex;
  margin-left: 23.0px;
  min-width: 1292px;
}

.readytologoutquestion .workout-tracker {
  cursor: pointer;
  height: 19px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 164px;
}

.readytologoutquestion .workout-tracker:hover {
  transform: scale(1.1);
}

.readytologoutquestion .navbar {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin-left: 732px;
  min-width: 396px;
}

.readytologoutquestion .overlap-group1 {
  height: 15px;
  position: relative;
  width: 130px;
}

.readytologoutquestion .home-section-nav-bar {
  cursor: pointer;
  height: 15px;
  left: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 69px;
}

.readytologoutquestion .home-section-nav-bar:hover {
  transform: scale(1.1);
}

.readytologoutquestion .notes-section-nav-bar {
  cursor: pointer;
  height: 15px;
  left: 62px;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.15s ease;
  width: 68px;
}

.readytologoutquestion .notes-section-nav-bar:hover {
  transform: scale(1.1);
}

.readytologoutquestion .about-section-nav-bar {
  cursor: pointer;
  height: 15px;
  pointer-events: auto;
  transition: all 0.15s ease;
  width: 42px;
}

.readytologoutquestion .about-section-nav-bar:hover {
  transform: scale(1.1);
}

.readytologoutquestion .contact-section-nav-bar {
  align-self: flex-end;
  cursor: pointer;
  height: 15px;
  margin-left: 29px;
  pointer-events: auto;
  transition: all 0.15s ease;
  width: 58px;
}

.readytologoutquestion .contact-section-nav-bar:hover {
  transform: scale(1.1);
}

.readytologoutquestion .overlap-group {
  height: 15px;
  margin-left: 14px;
  position: relative;
  width: 123px;
}

.readytologoutquestion .login-section-nav-bar {
  cursor: pointer;
  height: 15px;
  left: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 97px;
}

.readytologoutquestion .login-section-nav-bar:hover {
  transform: scale(1.1);
}

.readytologoutquestion .logout-section-nav-bar {
  cursor: pointer;
  height: 15px;
  left: 54px;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 69px;
}

.readytologoutquestion .logout-section-nav-bar:hover {
  transform: scale(1.1);
}

.readytologoutquestion .overlap-group2 {
  height: 395px;
  margin-right: 63.09px;
  margin-top: 53px;
  position: relative;
  width: 1206px;
}

.readytologoutquestion .work-out-tracker-title {
  height: 359px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 1057px;
}

.readytologoutquestion .running-stick-f-e-svgrepo-com-1 {
  height: 395px;
  left: 822px;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  width: 384px;
}

.readytologoutquestion .ready-to-logout {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxl);
  font-weight: 600;
  height: 58px;
  letter-spacing: 1.00px;
  margin-right: 121.0px;
  margin-top: 82px;
  text-align: center;
  width: 542px;
}

.readytologoutquestion .flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 120.0px;
  margin-top: 56px;
  min-width: 389px;
}

.readytologoutquestion .login-button {
  cursor: pointer;
  height: 78px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 123px;
}

.readytologoutquestion .login-button:hover {
  transform: scale(1.1);
}

.readytologoutquestion .login-button-1 {
  cursor: pointer;
  height: 78px;
  margin-left: 143px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 123px;
}

.readytologoutquestion .login-button-1:hover {
  transform: scale(1.1);
}

.readytologoutquestion .featured-in {
  align-self: flex-start;
  height: 75px;
  margin-left: -51px;
  margin-top: 108px;
  width: 600px;
}
