/* screen - readytologoutquestion */

.readytologoutquestion {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1023px;
  overflow: hidden;
  padding: 58px 0;
  width: 1649px;
}

.readytologoutquestion .flex-row {
  align-items: flex-start;
  display: flex;
  height: 33px;
  margin-right: 80.0px;
  min-width: 1351px;
}

.readytologoutquestion .workout-tracker {
  cursor: pointer;
  height: 19px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 164px;
}

.readytologoutquestion .workout-tracker:hover {
  transform: scale(1.1);
}

.readytologoutquestion .navbar {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  height: 23px;
  margin-left: 794px;
  min-width: 393px;
}

.readytologoutquestion .overlap-group1 {
  align-self: flex-start;
  height: 22px;
  position: relative;
  width: 170px;
}

.readytologoutquestion .workouts {
  cursor: pointer;
  height: 15px;
  left: 0;
  pointer-events: auto;
  position: absolute;
  top: 7px;
  transition: all 0.2s ease;
  width: 69px;
}

.readytologoutquestion .workouts:hover {
  transform: scale(1.1);
}

.readytologoutquestion .programs {
  height: 15px;
  left: 85px;
  position: absolute;
  top: 0;
  width: 68px;
}

.readytologoutquestion .programs-1 {
  cursor: pointer;
  height: 15px;
  left: 60px;
  pointer-events: auto;
  position: absolute;
  top: 7px;
  transition: all 0.2s ease;
  width: 68px;
}

.readytologoutquestion .programs-1:hover {
  transform: scale(1.1);
}

.readytologoutquestion .about {
  cursor: pointer;
  height: 15px;
  left: 128px;
  pointer-events: auto;
  position: absolute;
  top: 7px;
  transition: all 0.2s ease;
  width: 42px;
}

.readytologoutquestion .about:hover {
  transform: scale(1.1);
}

.readytologoutquestion .contact {
  cursor: pointer;
  height: 15px;
  margin-left: 28px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 58px;
}

.readytologoutquestion .contact:hover {
  transform: scale(1.1);
}

.readytologoutquestion .overlap-group {
  height: 15px;
  margin-bottom: 1px;
  margin-left: 14px;
  position: relative;
  width: 123px;
}

.readytologoutquestion .healthy-living {
  cursor: pointer;
  height: 15px;
  left: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 97px;
}

.readytologoutquestion .healthy-living:hover {
  transform: scale(1.1);
}

.readytologoutquestion .workouts-1 {
  cursor: pointer;
  height: 15px;
  left: 54px;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 69px;
}

.readytologoutquestion .workouts-1:hover {
  transform: scale(1.1);
}

.readytologoutquestion .overlap-group2 {
  height: 395px;
  margin-right: 26.09px;
  margin-top: 168px;
  position: relative;
  width: 1219px;
}

.readytologoutquestion .work-out-tracker-title {
  height: 359px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 1057px;
}

.readytologoutquestion .running-stick-f-e-svgrepo-com-1 {
  height: 395px;
  left: 835px;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  width: 384px;
}

.readytologoutquestion .frame-3 {
  background-color: var(--white);
  display: flex;
  height: 89px;
  margin-right: 174.0px;
  margin-top: 15px;
  width: 607px;
}

.readytologoutquestion .ready-to-logout {
  color: #000000;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxl);
  font-weight: 600;
  height: 58px;
  letter-spacing: 1.00px;
  margin-left: 35px;
  margin-top: 18px;
  text-align: center;
  width: 542px;
}

.readytologoutquestion .flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 155.0px;
  margin-top: 44px;
  min-width: 310px;
}

.readytologoutquestion .login-button {
  cursor: pointer;
  height: 78px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 123px;
}

.readytologoutquestion .login-button:hover {
  transform: scale(1.1);
}

.readytologoutquestion .login-button-1 {
  cursor: pointer;
  height: 78px;
  margin-left: 64px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 123px;
}

.readytologoutquestion .login-button-1:hover {
  transform: scale(1.1);
}

.readytologoutquestion .featured-in {
  align-self: flex-start;
  height: 75px;
  margin-left: -52px;
  margin-top: 24px;
  width: 600px;
}
