/* StartPage */

position: relative;
width: 1440px;
height: 1023px;

background: #171717;


/* FeaturedIN */

position: absolute;
width: 162px;
height: 55px;
left: 141px;
top: 914px;



/* Group 30 */

position: absolute;
left: 0%;
right: -269.78%;
top: 100%;
bottom: -36.36%;



/* ESPRIT */

position: absolute;
left: 132.1%;
right: -86.94%;
top: 100%;
bottom: -36.36%;



/* ESPRIT */

position: absolute;
left: 132.1%;
right: -86.94%;
top: 100%;
bottom: -36.36%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 132.1%;
right: -40.77%;
top: 100.7%;
bottom: -35.66%;

background: #191B1C;


/* Vector */

position: absolute;
left: 142.26%;
right: -52.09%;
top: 100%;
bottom: -36.36%;

background: #191B1C;


/* Vector */

position: absolute;
left: 153.77%;
right: -62.44%;
top: 100.7%;
bottom: -35.66%;

background: #191B1C;


/* Vector */

position: absolute;
left: 164.1%;
right: -73.47%;
top: 100.7%;
bottom: -35.66%;

background: #191B1C;


/* Vector */

position: absolute;
left: 175.1%;
right: -76.48%;
top: 100.7%;
bottom: -35.66%;

background: #191B1C;


/* Vector */

position: absolute;
left: 177.95%;
right: -86.94%;
top: 100.7%;
bottom: -35.66%;

background: #191B1C;


/* Group 28 */

position: absolute;
left: 0%;
right: 64.73%;
top: 100%;
bottom: -36.36%;



/* Vector */

position: absolute;
left: 0%;
right: 64.73%;
top: 100%;
bottom: -36.36%;

background: #FFFFFF;


/* Group 27 */

position: absolute;
left: 204.92%;
right: -125.23%;
top: 102.17%;
bottom: -36.36%;



/* Vector */

position: absolute;
left: 205.62%;
right: -107.62%;
top: 128.46%;
bottom: -35.1%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 205.59%;
right: -106.64%;
top: 133.09%;
bottom: -34.45%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 205.78%;
right: -106.57%;
top: 130.66%;
bottom: -32.86%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 207.07%;
right: -107.41%;
top: 128.46%;
bottom: -29.3%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 205.28%;
right: -107.92%;
top: 127.61%;
bottom: -36.36%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 209.38%;
right: -112.18%;
top: 129.69%;
bottom: -36.23%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 209.46%;
right: -112.1%;
top: 127.29%;
bottom: -30.37%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 214.31%;
right: -116.35%;
top: 127.42%;
bottom: -36.09%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 213.46%;
right: -114.37%;
top: 127.87%;
bottom: -35.59%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 217.48%;
right: -118.52%;
top: 128.07%;
bottom: -35.75%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 218.39%;
right: -120.32%;
top: 127.74%;
bottom: -36.14%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 205.26%;
right: -107.34%;
top: 102.3%;
bottom: -10.5%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 207.47%;
right: -109.7%;
top: 102.3%;
bottom: -10.47%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 209.43%;
right: -111.36%;
top: 102.3%;
bottom: -10.5%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 211.52%;
right: -111.99%;
top: 102.3%;
bottom: -10.47%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 212.28%;
right: -114.63%;
top: 102.17%;
bottom: -10.63%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 214.92%;
right: -117%;
top: 102.3%;
bottom: -10.5%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 217.13%;
right: -119.37%;
top: 102.3%;
bottom: -10.47%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 219.51%;
right: -120.92%;
top: 102.3%;
bottom: -10.5%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 204.92%;
right: -107.04%;
top: 112.74%;
bottom: -21.2%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 207.48%;
right: -108.89%;
top: 112.9%;
bottom: -21.07%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 209.03%;
right: -111.39%;
top: 112.77%;
bottom: -21.23%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 211.55%;
right: -113.67%;
top: 112.74%;
bottom: -21.2%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 214.12%;
right: -115.8%;
top: 112.87%;
bottom: -21.07%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 215.81%;
right: -118.05%;
top: 112.9%;
bottom: -21.07%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 218.2%;
right: -119.79%;
top: 112.9%;
bottom: -21.07%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 220.07%;
right: -122%;
top: 112.9%;
bottom: -21.07%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 222.47%;
right: -122.94%;
top: 112.9%;
bottom: -21.07%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 223.25%;
right: -125.23%;
top: 112.74%;
bottom: -21.2%;

background: #FFFFFF;


/* Group 29 */

position: absolute;
left: 46.3%;
right: -20.97%;
top: 100%;
bottom: -36.36%;



/* Vector */

position: absolute;
left: 46.3%;
right: -20.97%;
top: 100%;
bottom: -36.36%;

background: #FFFFFF;


/* Layer_1 */

position: absolute;
left: 236.42%;
right: -153.1%;
top: 100%;
bottom: -36.36%;



/* g4356 */

position: absolute;
left: 237.76%;
right: -151.85%;
top: 100%;
bottom: -24.25%;



/* path4352 */

position: absolute;
left: 237.79%;
right: -151.85%;
top: 123.82%;
bottom: -24.25%;

background: #FFFFFF;


/* path4354 */

position: absolute;
left: 237.76%;
right: -151.81%;
top: 100%;
bottom: -20.6%;

background: #FFFFFF;


/* path4358 */

position: absolute;
left: 236.42%;
right: -153.1%;
top: 127.58%;
bottom: -36.36%;

background: #FFFFFF;


/* layer1 */

position: absolute;
left: 264.2%;
right: -269.78%;
top: 100%;
bottom: -36.36%;



/* layer1-3 */

position: absolute;
left: 264.2%;
right: -269.78%;
top: 100%;
bottom: -36.36%;



/* path3348 */

position: absolute;
left: 270.65%;
right: -183.77%;
top: 100.78%;
bottom: -35.63%;

background: #FFFFFF;


/* path3352 */

position: absolute;
left: 284.64%;
right: -196.91%;
top: 100.69%;
bottom: -36.32%;

background: #FFFFFF;


/* path3356 */

position: absolute;
left: 317.29%;
right: -228.73%;
top: 100.73%;
bottom: -35.63%;

background: #FFFFFF;


/* path3360 */

position: absolute;
left: 329.52%;
right: -241.56%;
top: 100%;
bottom: -36.36%;

background: #FFFFFF;


/* path3364 */

position: absolute;
left: 353.39%;
right: -263.81%;
top: 100.78%;
bottom: -35.63%;

background: #FFFFFF;


/* path3366 */

position: absolute;
left: 341.73%;
right: -252.42%;
top: 100%;
bottom: -36.32%;

background: #FFFFFF;


/* path3370 */

position: absolute;
left: 264.2%;
right: -170.58%;
top: 100.78%;
bottom: -35.63%;

background: #FFFFFF;


/* path3374 */

position: absolute;
left: 363.4%;
right: -269.78%;
top: 100.78%;
bottom: -35.63%;

background: #FFFFFF;


/* polygon3376 */

position: absolute;
left: 297.04%;
right: -207.5%;
top: 100.73%;
bottom: -35.63%;

background: #FFFFFF;


/* polygon3378 */

position: absolute;
left: 307.16%;
right: -217.61%;
top: 100.73%;
bottom: -35.63%;

background: #FFFFFF;


/* AS FEATURED IN */

position: absolute;
left: 21.6%;
right: 0%;
top: 0%;
bottom: 60%;

font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */
letter-spacing: 1px;

/* Text 2 */
color: rgba(239, 237, 232, 0.65);



/* Purple Box */

position: absolute;
width: 193px;
height: 98px;
left: 1089px;
top: 656px;



/* Rectangle 13 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #C82CEF;
border-radius: 12px;


/* 300+ */

position: absolute;
left: 17.62%;
right: 25.39%;
top: 20.41%;
bottom: 38.78%;

font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 40px;
/* identical to box height, or 100% */
letter-spacing: 1px;

/* Text 1 */
color: #FAFAF9;



/* Free Workout Videos */

position: absolute;
left: 9.84%;
right: 9.33%;
top: 67.35%;
bottom: 12.24%;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: 1px;

/* Text 2 */
color: rgba(239, 237, 232, 0.65);



/* Blue Box */

position: absolute;
width: 448px;
height: 141px;
left: 840px;
top: 779px;



/* Rectangle 17 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #3099BA;
border-radius: 12px;


/* Group 23 */

position: absolute;
left: 7.14%;
right: 14.64%;
top: 18.44%;
bottom: 38.42%;



/* Group 37 */

position: absolute;
left: 7.14%;
right: 14.64%;
top: 18.44%;
bottom: 38.42%;



/* Group 22 */

position: absolute;
left: 7.14%;
right: 14.64%;
top: 18.44%;
bottom: 38.42%;



/* BE YOUR BEST. */

position: absolute;
left: 7.14%;
right: 52.23%;
top: 18.44%;
bottom: 64.54%;

/* h3 */
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */
letter-spacing: 0.3px;

/* Text 1 */
color: #FAFAF9;



/* MAKE GOALS. CHECK THEM OFF. */

position: absolute;
left: 7.14%;
right: 14.64%;
top: 39.01%;
bottom: 38.42%;

/* body-text */
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.5px;

/* Text 2 */
color: rgba(239, 237, 232, 0.65);



/* Green Box */

position: absolute;
width: 178.42px;
height: 110.72px;
left: 641px;
top: 809px;



/* Rectangle 15 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #169D00;
border-radius: 12px;


/* YOU CAN */

position: absolute;
left: 21.3%;
right: 7.04%;
top: 5.17%;
bottom: 49.38%;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 50px;
/* or 104% */
letter-spacing: -5px;
text-transform: uppercase;

/* Text 1 */
color: #FAFAF9;



/* WorkOutTracker title */

position: absolute;
width: 1057px;
height: 359px;
left: 106px;
top: 285px;



/* Make a plan. Stick with it. */

position: absolute;
left: 3.6%;
right: 43.42%;
top: 93.31%;
bottom: 0%;

/* body-text */
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.5px;

color: #FFFFFF;



/* workout tracker */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 6.69%;



/* workout tracker */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: HammersmithOne;
font-style: normal;
font-weight: normal;
font-size: 200px;
line-height: 170px;
/* or 85% */
letter-spacing: -2px;
text-transform: uppercase;

/* Text 1 */
color: #FAFAF9;



/* Ellipse 1 */

position: absolute;
left: 74.42%;
right: 23.33%;
top: 77.34%;
bottom: 15.93%;

background: #D95C2D;


/* running-stick-figure-svgrepo-com 1 */

position: absolute;
width: 383.81px;
height: 386.51px;
left: 950.39px;
top: 156px;

mix-blend-mode: lighten;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* Group */

position: absolute;
left: 5.94%;
right: 5.94%;
top: 0%;
bottom: 0%;



/* Group */

position: absolute;
left: 5.94%;
right: 5.94%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 5.94%;
right: 5.94%;
top: 13.48%;
bottom: 0%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 63.74%;
right: 15.58%;
top: 0%;
bottom: 79.37%;

background: #FFFFFF;


/* Login Button */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px 25px;

position: absolute;
width: 115px;
height: 70px;
left: 346px;
top: 676px;

background: #F8C33B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* login */

position: static;
width: 59px;
height: 22px;
left: 25px;
top: 24px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height, or 122% */
letter-spacing: 1px;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* WORKOUT TRACKER */

position: absolute;
width: 164px;
height: 19px;
left: 92px;
top: 58px;



/* WORKOUT TRACKER */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;

/* Text 1 */
color: #FAFAF9;



/* WORKOUTS */

position: absolute;
width: 69px;
height: 15px;
left: 837px;
top: 60px;



/* WORKOUTS */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

/* Text 1 */
color: #FAFAF9;



/* PROGRAMS */

position: absolute;
width: 68px;
height: 15px;
left: 983px;
top: 52px;



/* PROGRAMS */

position: absolute;
width: 68px;
height: 15px;
left: 928px;
top: 60px;



/* PROGRAMS */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

/* Text 1 */
color: #FAFAF9;



/* HEALTHY LIVING */

position: absolute;
width: 97px;
height: 15px;
left: 1018px;
top: 60px;



/* HEALTHY LIVING */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

/* Text 1 */
color: #FAFAF9;



/* CONTACT */

position: absolute;
width: 58px;
height: 15px;
left: 1137px;
top: 60px;



/* CONTACT */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

/* Text 1 */
color: #FAFAF9;



/* ABOUT */

position: absolute;
width: 42px;
height: 15px;
left: 1217px;
top: 60px;



/* ABOUT */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

/* Text 1 */
color: #FAFAF9;



/* Join Now Button */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 148px;
height: 70px;
left: 179px;
top: 676px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* Join Now Button */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* Button */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px 25px;

position: static;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E6533C;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* Join Now! */

position: static;
width: 98px;
height: 22px;
left: 25px;
top: 24px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height, or 122% */
letter-spacing: 1px;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
