/* screen - errorpage */

.errorpage {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 988px;
  overflow: hidden;
  padding: 40px 0;
  width: 1649px;
}

.errorpage .workout-tracker {
  cursor: pointer;
  height: 19px;
  margin-left: 109px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 164px;
}

.errorpage .workout-tracker:hover {
  transform: scale(1.1);
}

.errorpage .navbar {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  height: 23px;
  margin-right: 193px;
  margin-top: 12px;
  min-width: 393px;
}

.errorpage .overlap-group {
  align-self: flex-start;
  height: 22px;
  position: relative;
  width: 170px;
}

.errorpage .workouts {
  cursor: pointer;
  height: 15px;
  left: 0;
  pointer-events: auto;
  position: absolute;
  top: 7px;
  transition: all 0.2s ease;
  width: 69px;
}

.errorpage .workouts:hover {
  transform: scale(1.1);
}

.errorpage .programs {
  height: 15px;
  left: 85px;
  position: absolute;
  top: 0;
  width: 68px;
}

.errorpage .programs-1 {
  cursor: pointer;
  height: 15px;
  left: 60px;
  pointer-events: auto;
  position: absolute;
  top: 7px;
  transition: all 0.2s ease;
  width: 68px;
}

.errorpage .programs-1:hover {
  transform: scale(1.1);
}

.errorpage .about {
  cursor: pointer;
  height: 15px;
  left: 128px;
  pointer-events: auto;
  position: absolute;
  top: 7px;
  transition: all 0.2s ease;
  width: 42px;
}

.errorpage .about:hover {
  transform: scale(1.1);
}

.errorpage .contact {
  cursor: pointer;
  height: 15px;
  margin-left: 28px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 58px;
}

.errorpage .contact:hover {
  transform: scale(1.1);
}

.errorpage .overlap-group1 {
  height: 15px;
  margin-bottom: 1px;
  margin-left: 14px;
  position: relative;
  width: 123px;
}

.errorpage .healthy-living {
  cursor: pointer;
  height: 15px;
  left: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 97px;
}

.errorpage .healthy-living:hover {
  transform: scale(1.1);
}

.errorpage .workouts-1 {
  cursor: pointer;
  height: 15px;
  left: 54px;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 69px;
}

.errorpage .workouts-1:hover {
  transform: scale(1.1);
}

.errorpage .overlap-group2 {
  align-items: flex-end;
  align-self: center;
  background-image: url(../img/workouttracker-title-6@1x.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: 54.0px;
  margin-top: 107px;
  min-height: 560px;
  padding: 0 109.1px;
  width: 1059px;
}

.errorpage .running-stick-f-e-svgrepo-com-1 {
  height: 395px;
  mix-blend-mode: lighten;
  width: 384px;
}

.errorpage .join-now-button {
  cursor: pointer;
  height: 78px;
  margin-right: 70.91px;
  margin-top: 70px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 156px;
}

.errorpage .join-now-button:hover {
  transform: scale(1.1);
}

.errorpage .featured-in {
  height: 75px;
  margin-left: -52px;
  margin-top: 125px;
  width: 600px;
}
