/* screen - logoutpageseeyousoon */

.logoutpageseeyousoon {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1023px;
  overflow: hidden;
  padding: 58px 0;
  width: 1649px;
}

.logoutpageseeyousoon .flex-row {
  align-items: flex-start;
  display: flex;
  height: 32px;
  margin-right: 121.0px;
  min-width: 1310px;
}

.logoutpageseeyousoon .workout-tracker {
  cursor: pointer;
  height: 19px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 164px;
}

.logoutpageseeyousoon .workout-tracker:hover {
  transform: scale(1.1);
}

.logoutpageseeyousoon .navbar {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  height: 23px;
  margin-left: 753px;
  min-width: 393px;
}

.logoutpageseeyousoon .overlap-group {
  align-self: flex-start;
  height: 22px;
  position: relative;
  width: 170px;
}

.logoutpageseeyousoon .workouts {
  cursor: pointer;
  height: 15px;
  left: 0;
  pointer-events: auto;
  position: absolute;
  top: 7px;
  transition: all 0.2s ease;
  width: 69px;
}

.logoutpageseeyousoon .workouts:hover {
  transform: scale(1.1);
}

.logoutpageseeyousoon .programs {
  height: 15px;
  left: 85px;
  position: absolute;
  top: 0;
  width: 68px;
}

.logoutpageseeyousoon .programs-1 {
  cursor: pointer;
  height: 15px;
  left: 60px;
  pointer-events: auto;
  position: absolute;
  top: 7px;
  transition: all 0.2s ease;
  width: 68px;
}

.logoutpageseeyousoon .programs-1:hover {
  transform: scale(1.1);
}

.logoutpageseeyousoon .about {
  cursor: pointer;
  height: 15px;
  left: 128px;
  pointer-events: auto;
  position: absolute;
  top: 7px;
  transition: all 0.2s ease;
  width: 42px;
}

.logoutpageseeyousoon .about:hover {
  transform: scale(1.1);
}

.logoutpageseeyousoon .contact {
  cursor: pointer;
  height: 15px;
  margin-left: 28px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 58px;
}

.logoutpageseeyousoon .contact:hover {
  transform: scale(1.1);
}

.logoutpageseeyousoon .overlap-group-1 {
  height: 15px;
  margin-bottom: 1px;
  margin-left: 14px;
  position: relative;
  width: 123px;
}

.logoutpageseeyousoon .healthy-living {
  cursor: pointer;
  height: 15px;
  left: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 97px;
}

.logoutpageseeyousoon .healthy-living:hover {
  transform: scale(1.1);
}

.logoutpageseeyousoon .workouts-1 {
  cursor: pointer;
  height: 15px;
  left: 54px;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 69px;
}

.logoutpageseeyousoon .workouts-1:hover {
  transform: scale(1.1);
}

.logoutpageseeyousoon .overlap-group4 {
  height: 411px;
  margin-right: 5.09px;
  margin-top: 143px;
  position: relative;
  width: 1240px;
}

.logoutpageseeyousoon .work-out-tracker-title {
  height: 359px;
  left: 0;
  position: absolute;
  top: 52px;
  width: 1057px;
}

.logoutpageseeyousoon .running-stick-f-e-svgrepo-com-1 {
  height: 395px;
  left: 856px;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  width: 384px;
}

.logoutpageseeyousoon .navbar-1 {
  align-items: flex-end;
  display: flex;
  height: 23px;
  left: 584px;
  min-width: 393px;
  position: absolute;
  top: 81px;
}

.logoutpageseeyousoon .frame-3 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 166px;
  justify-content: center;
  margin-right: 117.0px;
  margin-top: 52px;
  width: 1036px;
}

.logoutpageseeyousoon .title {
  color: #000000;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxxl);
  font-weight: 600;
  height: 51px;
  letter-spacing: 1.00px;
  line-height: 22px;
  margin-left: 1px;
  margin-top: -10px;
  width: 578px;
}

.logoutpageseeyousoon .featured-in {
  align-self: flex-start;
  height: 75px;
  margin-left: -52px;
  margin-top: 42px;
  width: 600px;
}
