:root {
	--colorLink: rgba(0,112,201,1);
	--colorBlack: rgba(23,23,23,1);
	--colorText1: rgba(250,250,249,1);
	--colorText2: rgba(239,237,232,0.650);
	--colorButton: rgba(230,83,60,1);
	--colorShape1: rgba(239,137,100,1);
	--colorShape2: rgba(48,48,48,1);
	--colorShape3: rgba(122,41,220,1);
	--colorShapeSeconday1: rgba(50,52,67,1);
	--colorShapeSeconday2: rgba(35,37,50,1);
	--colorShapeSeconday3: rgba(50,52,67,1);
	--colorShapeSeconday4: rgba(79,82,97,1);
}
.textStyleHeroHeader {
	font-size:172px;
	font-family:"Inter";
	line-height:170.00;
	letter-spacing:-2.00px;
	text-decoration:none;
}
.textStyleH1 {
	font-size:50px;
	font-family:"Inter";
	line-height:70.00;
	letter-spacing:0.83px;
	text-decoration:none;
}
.textStyleH2 {
	font-size:40px;
	font-family:"Inter";
	line-height:50.00;
	letter-spacing:0.30px;
	text-decoration:none;
}
.textStyleH3 {
	font-size:24px;
	font-family:"Inter";
	line-height:24.00;
	letter-spacing:0.30px;
	text-decoration:none;
}
.textStyleH4 {
	font-size:20px;
	font-family:"Inter";
	font-weight:bold;
	font-style:normal;
	line-height:25.00;
	letter-spacing:0.50px;
	text-decoration:none;
}
.textStyleH5 {
	font-size:16px;
	font-family:"Inter";
	line-height:24.00;
	letter-spacing:0.50px;
	text-decoration:none;
}
.textStyleBodyText {
	font-size:16px;
	font-family:"Inter";
	font-weight:normal;
	font-style:normal;
	line-height:24.00;
	letter-spacing:0.50px;
	text-decoration:none;
}
.textStyleBodyTextSmall {
	font-size:14px;
	font-family:"Inter";
	font-weight:normal;
	font-style:normal;
	line-height:24.00;
	letter-spacing:0.30px;
	text-decoration:none;
}
.textStyleCta {
	font-size:16px;
	font-family:"Inter";
	line-height:26.00;
	letter-spacing:0.50px;
	text-decoration:none;
}