:root { 
  --black: #171717;
  --text-1: #fafaf9;
  --text-2: #efede8a6;
  --white: #ffffff;
 
  --font-size-l: 14px;
  --font-size-m: 12px;
  --font-size-xl: 16px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 40px;
  --font-size-xxxxl: 48px;
  --font-size-xxxxxl: 72px;
 
  --font-family-inter-bold: "Inter-Bold", Helvetica;
  --font-family-inter-regular: "Inter-Regular", Helvetica;
  --font-family-inter-semibold: "Inter-SemiBold", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
}
.inter-regular-normal-alabaster-12px {
  color: var(--text-1);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
